{% extends 'shop/basic.html' %}

{% block title %}About-HomeCart {% endblock %}

{% block body %} 
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">HomeCart</h1>
            <p>HomeCart Private Limited is an Indian e-commerce company, headquartered in Bengaluru, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Anant</h2>
                <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's
                    beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is
                    jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Salen Shealter</h2>
                <p>Standing on the frontline when the bombs start to fall. Heaven is jealous of our love, angels are
                    crying from up above. Can't replace you with a million rings. Boy, when you're with me I'll give you
                    a taste. There’s no going back. Before you met me I was alright but things were kinda heavy. Heavy
                    is the head that wears the crown.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Andrew Filocan</h2>
                <p>Playing ping pong all night long, everything's all neon and hazy. Yeah, she's so in demand. She's
                    sweet as pie but if you break her heart. But down to earth. It's time to face the music I'm no
                    longer your muse. I guess that I forgot I had a choice.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>© Company 2017-2022</p>
</footer>



{% endblock %}