<!doctype html>
<html lang="en">
  <head>
    {% comment %} <script> window.location="/shop"; </script> {% endcomment %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>HomeCart</title>
  </head>
  <body>
    
    <div class="jumbotron">
        <h1 class="display-4 text-center">Welcome to HomeCart!</h1>
        <p class="lead text-center">This is a base template that allows you to visit two of Our App. Well this is an attempt to make a Shopping Website such as flipkart,Amazon or myntra.</p>
        <hr class="my-4">
        <h4 class="text-center">Click on the app to Go.</h4>
        <div class="container">
        <div class="row my-2">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://imvsjkatreexdl3g.public.blob.vercel-storage.com/Logo-atjHrWHphIgSgxylBQdbkLeCb141hZ.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">HomeCart</h5>
                <p class="card-text">HomeCart is a shopping website,where you buy different items.</p>
                <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Shop</a>
              </div>
            </div>
          </div>
          
          
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://imvsjkatreexdl3g.public.blob.vercel-storage.com/blogHome-D1Hzhvx4FvOtTHLzFi2OH1rGJ2EfCr.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">HomeBlog</h5>
                <p class="card-text">HomeBlog is a blogging website,where one finds the posts on various topic.</p>
                <a class="btn btn-primary btn-lg" href="/blog" role="button">Go To Blog</a>
              </div>
            </div>
          </div>

        </div>
      </div>
        
        
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>